name: CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  schedule:
  - cron: 0 0 * * 0
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: main
    - name: Run benchmarks
      uses: ./main/.github/action
      with:
        cmd: |
          cd main && \
          source run.zsh && \
          gnuplot -e "zsh_version = 'zsh $ZSH_VERSION'" -c plot-graph
    - uses: actions/checkout@v2
      if: ${{ github.ref == 'refs/heads/master' }}
      with:
        repository: zimfw/zimfw.github.io
        token: ${{ secrets.PAT }}
        path: artifacts
    - name: Push images/results.svg
      if: ${{ github.ref == 'refs/heads/master' }}
      working-directory: artifacts
      run: |
        cp ../main/results.svg images/results.svg && \
        git config user.name github-actions && \
        git config user.email github-actions@github.com && \
        git add images/results.svg && \
        git commit -m "Update images/results.svg" && \
        git push
    - uses: actions/upload-artifact@v2
      with:
        path: |
          main/results/results.csv
          main/results.svg
